body { padding-top: 70px; }
.navbar-right {padding-right: 10px}


.spinner {
  width: 60px;
  height: 60px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.ajax-animation{
    position: fixed;
    width: 100%;
    height: 800px;
    bottom: 0px;
    margin: auto;
    display: none;
    z-index: 8000;
}

.inner_html{
    width: 100%;
}
.container{

}

.thumbnail-button{
    display: inline-block;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 4px;
    margin: 4px;
    width: 130px;
    padding-left: 14px;
    padding-right: 14px;
    height: 125px;
    cursor: pointer;
}
.thumbnail-button.selected{
    background-color: lightcoral;
    color: #ffffff;
    font-weight: bold;
}
.thumbnail-button .caption{
    text-align: center;
}

.thumbnail-container{
    max-height: 200px;
    overflow-x: scroll;
    overflow-y: hidden ;
    -ms-overflow-y: hidden;
    white-space: nowrap;

}

.wrapper{
    position: fixed;
    background-color: white;
    z-index: 8000;
    top: 50px;
    width: 100%;
    height: 140px;
}

.image-editor{
    width: 850px ;
    margin: auto;
    margin-top: 140px;

}
.image-editor table{
    width: auto!important;


}

.image-editor img {
    cursor: pointer;
}
.image-editor img.non-selected {
    opacity: 0.5;
}