{% load admin_static %}{% load firstof from future %}{% load i18n grp_tags %}
{% load thumbnail %}
{% load designlens %}
<html>
<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet" type="text/css" media="screen" />

    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <style>
        td:first-child {
            font-weight: bold;
        }
        textarea{
            width: 600px;
            height: 80px;
        }
    </style>

</head>

<body>
<div class="ajax-animation">
    <div class="spinner"></div>
</div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Image edition</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text"> <a href="/admin/main/adminprojects/{{ project_id }}/">{{ project_name }}</a>  {{ project_date }}</p>
      <p class="nav navbar-nav navbar-right">
        <a href="/admin/image/multiuploads/{{ project_id }}/" class="btn btn-success navbar-btn" onclick="return showAddAnotherPopup(this);">Multi Images Uploads</a>

      </p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="inner_html"  ng-app='ListImagesApp' ng-controller='MainController'>
    <div class="wrapper">
         <div class="thumbnail-container">
              {% verbatim %}
                 <div ng-repeat="item in images" class="thumbnail-button" ng-class="is_thumbnail_selected($index)" ng-click="select($index)">
                    <img src="{{ item.thumbnail }}" />
                    <div class="caption">{{ item.file_name }}</div>
                 </div>
              {% endverbatim %}



                </div>
    </div>

                {% verbatim %}
                <div class="image-editor">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ selected.file_name}}</th>
                                <th ng-if="selected.is_double">{{ selected.file_name_2}}</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td><img ng-click="sub_select(0)" ng-class="is_image_selected(0)" src="/media/{{ selected.image }}" /></td>
                                <td ng-if="selected.is_double"><img ng-click="sub_select(1)" ng-class="is_image_selected(1)" src="/media/{{ selected.image_2 }}" /></td>
                            </tr>

                        </tbody>
                    </table>

                            <div class="image-entries">
                            <table class="table" style="width: 100%">
                                <tbody>
                                     <tr>
                                        <td>Layout</td>
                                        <td>

                                            <select ng-change="make_double()" ng-model="selected.layout" id="id_layout" name="layout">
                                                <option value="">---------</option>
                                                <option value="1">Horizontal</option>
                                                <option value="2">Vertical, text on the right</option>
                                                <option value="3">Double horizontal</option>
                                                <option value="4">Double vertical</option>
                                                <option value="5" selected="selected">Double, horizontal + vertical</option>
                                                <option value="6">Vertical, text on the left</option>
                                                <option value="7">Vertical, centered</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td>is Homepage?</td>
                                        <td><input type="checkbox" ng-model="selected.is_homepage" ng-click="select_homepage()"></td>
                                    </tr>-->
                                <tbody>
                                <tbody ng-if="sub_selected_index==0">
                                    <tr>
                                        <td>Floor plan</td>
                                        <td><select ng-model="selected.floor_plan" ng-options="k as v for (k,v) in floor_plans"></select></td>
                                    </tr>
                                     <!--<tr>
                                        <td>Site plan</td>
                                        <td><select ng-model="selected.site_plan" ng-options="k as v for (k,v) in site_plans"></select></td>
                                    </tr>-->
                                    <tr>
                                        <td>Description</td>
                                        <td><textarea ng-model="selected.description"></textarea></td>
                                    </tr>
                                     <tr>
                                        <td>Keywords</td>
                                        <td><input  style="width: 600px" class="keywords" ng-model="selected.keywords" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>file name</td>
                                        <td><input  style="width: 600px" class="file_name" ng-model="selected.file_name" type="text"></td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="sub_selected_index==1">
                                    <tr>
                                        <td>Floor plan</td>
                                        <td><select ng-model="selected.floor_plan_2" ng-options="k as v for (k,v) in floor_plans"></select></td>
                                    </tr>
                                     <!--<tr>
                                        <td>Site plan</td>
                                        <td><select ng-model="selected.site_plan_2" ng-options="k as v for (k,v) in site_plans"></select></td>
                                    </tr>-->
                                    <tr>
                                        <td>Description</td>
                                        <td><textarea ng-model ="selected.description_2"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>Keywords</td>
                                        <td ><input class="keywords" type="text" style="width: 600px" ng-model ="selected.keywords_2"></td>
                                    </tr>
                                     <tr>
                                        <td>file name</td>
                                        <td><input  style="width: 600px" class="file_name" ng-model="selected.file_name_2" type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                  <a href="#" ng-click="save()" class="btn btn-success" role="button">Save</a>
                                  <a href="#" ng-click="delete()" class="btn btn-danger" role="button">Delete</a>




                <!---

                                    <a ng-attr-href="{{ selected.edit_url }}" onclick="return showAddAnotherPopup(this);" class="btn btn-primary" role="button">Deep edit</a>
                                    <a href="#" ng-attr-data-url="{{ selected.delete_url }}" class="btn btn-danger btn-delete" role="button">Delete</a>
-->
                            </p>
                        </div>

                </div>
                {% endverbatim %}



</div>
<script src="{% static "js/jquery.js" %}" type="text/javascript"></script>

<script src="{% static "js/jquery-ui.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.cookie-1.4.1.min.js" %}" type="text/javascript"></script>

 <script>
        function dismissAddAnotherPopup(win, id, model){
            win.close();
            reload('.ajax-container');

        }
        SelectBox = new Object();
        function showAddAnotherPopup(triggeringLink) {
            var href = triggeringLink.href;
            if (href.indexOf('?') == -1) {
                href += '?_popup=1';
            } else {
                href  += '&_popup=1';
            }
            var win = window.open(href, "image_form", 'height=768,width=1366,resizable=yes');
            win.focus();
            return false;
        }

        jQuery(document).on("click", ".btn-delete", function() {
            var t = jQuery(this);
            jQuery.ajax({
                url: t.attr("data-url"),
                type: "POST",
                data:{"post": "yes", "csrfmiddlewaretoken": jQuery.cookie("csrftoken")},
                cache: false,
                error: function (request, status, error) {alert(request.responseText); }
            }).done(function (msg) {
               reload('.ajax-container');
            });
            return false;
    });
        reload = function(selector){
            var $t = $(selector);
            $(".btn").addClass("disabled");
            $(".ajax-animation").show(0);
            $t.css("opacity", ".5");
            $.ajax({
                url: $t.attr("data-reload-url"),
                cache: false,
                error: function (request, status, error) { $(".ajax-animation").hide(0); alert(request.responseText); }
            }).done(function (msg) {
                var dom = $(msg);
                var inner_html = $(dom.find('.'+$t.attr("data-reload-class")).html());
                $t.find('.'+$t.attr("data-reload-class")).empty().append(inner_html);
                inner_html.filter('script').each(function(){
                    $.globalEval(this.text || this.textContent || this.innerHTML || '');
                });
                inner_html.ready(function(){
                    $t.css("opacity", "1");
                    $(".ajax-animation").hide(0);
                    $(".btn").removeClass("disabled");
                })

            });
        return false;

        }

    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular.min.js"></script>

<script>
    activate_autocomple = function() {
    {% image_keywords_autocomplete %}
    function split( val ) {
      return val.split(/ \s*/);
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
    if(jQuery(".keywords").attr("data-autocomplete")==="yes"){
        return;
    }
    jQuery(".keywords").attr("data-autocomplete", "yes");
    jQuery(".keywords")
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 3,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            autocomplete_image_keywords, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push("");
          this.value = terms.join("  ");
          return false;
        }
      });
  };

  window.setInterval(activate_autocomple, 1000);


</script>
    <script>
        var app = angular.module('ListImagesApp',[]);

        app.controller("MainController", function($scope, $window, $http){

            $scope.images = [];
            $scope.selected = null;
            $scope.selected_index  = null;
            $scope.sub_selected_index  = null;
            $scope.homepage  = null;
            $scope.homepage_index  = null;
            $scope.site_plans = {0:"---"};
            $scope.floor_plans = {0:"---"};
            $scope.is_thumbnail_selected = function(index){
                if($scope.selected_index == index){ return "selected"}
                else{ return ""}

            };
            $scope.is_double = function(layout){

                return layout==3||layout==4||layout==5;
            };
            $scope.make_double = function(){

               if($scope.selected.is_double && $scope.is_double($scope.selected.layout)){return;}
                else if($scope.selected.is_double && (!$scope.is_double($scope.selected.layout))){
                    if(!($scope.selected.delete===null||$scope.selected.delete===undefined)){


                       $scope.selected.is_double = false;
                       delete $scope.selected.image_2;
                       delete $scope.selected.description_2;
                       delete $scope.selected.keywords_2;
                       delete $scope.selected.file_name_2;
                       delete $scope.selected.floor_plan_2;
                       delete $scope.selected.site_plan_2;
                       $scope.images.splice($scope.selected_index+1, 0, $scope.selected.delete);
                       delete $scope.selected.delete;
                       $scope.sub_selected_index = 0;
                    }
                   else{
                       $scope.selected.is_double = false;
                       var image_2 = {image:$scope.selected.image_2,
                                      description: $scope.selected.description_2,
                                      keywords: $scope.selected.keywords_2,
                                      file_name: $scope.selected.file_name_2,
                                      floor_plan: $scope.selected.floor_plan_2,
                                      site_plan: $scope.selected.site_plan_2
                                    };
                       delete $scope.selected.image_2;
                       delete $scope.selected.description_2;
                       delete $scope.selected.keywords_2;
                       delete $scope.selected.file_name_2;
                       delete $scope.selected.floor_plan_2;
                       delete $scope.selected.site_plan_2;
                       $scope.selected.create = image_2;
                       $scope.sub_selected_index = 0;

                    }
                    return;}
                else if((!$scope.selected.is_double) && $scope.is_double($scope.selected.layout)){
                   if(!($scope.selected.create===null||$scope.selected.create===undefined)) {
                       $scope.selected.is_double = true;
                        $scope.selected.image_2 = $scope.selected.create.image;
                        $scope.selected.description_2 = $scope.selected.create.description;
                        $scope.selected.keywords_2 = $scope.selected.create.keywords;
                        $scope.selected.file_name_2 = $scope.selected.create.file_name;
                        $scope.selected.floor_plan_2 = $scope.selected.create.floor_plan;
                        $scope.selected.site_plan_2 = $scope.selected.create.site_plan;
                        delete $scope.selected.create;
                        return;
                    }

                    var next_index = $scope.selected_index + 1;
                    if($scope.images[next_index]===null||$scope.images[next_index]===undefined){
                        alert("You can't change this layout to double image because there not exist a next image");
                        $scope.selected.layout  = 1;
                        return;
                    }
                    if($scope.images[next_index].is_double){
                        alert("You can't change this layout to double image because the image already have a double image layout");
                        $scope.selected.layout  = 1;
                        return;
                    }
                    $scope.selected.image_2= $scope.images[next_index].image;
                    $scope.selected.is_double= true;
                    $scope.selected.description_2= $scope.images[next_index].description;
                    $scope.selected.keywords_2= $scope.images[next_index].keywords;
                    $scope.selected.file_name_2= $scope.images[next_index].file_name;
                    $scope.selected.floor_plan_2= $scope.images[next_index].floor_plan;
                    $scope.selected.site_plan_2= $scope.images[next_index].site_plan;

                    $scope.selected.delete= $scope.images[next_index];
                    $scope.images.splice(next_index, 1);

                    return;
                }
                else {return;}


             };

            $scope.sub_select = function(sub_index){
                $scope.sub_selected_index = sub_index;


            }

            $scope.is_image_selected = function(sub_index){
                if($scope.sub_selected_index == sub_index){ return ""}
                else{ return "non-selected"}
            };
            $scope.delete = function(){
                var conf = confirm("Are you sure?");
                if(conf){
                    $(".btn").addClass("disabled");
                    $("select").addClass("disabled");
                    $(".ajax-animation").show(0);
                    $("body").css("opacity", ".5");

                    $http.post('/admin/image/delete/' + $scope.selected.pk +'/',
                            $.param({csrfmiddlewaretoken: jQuery.cookie("csrftoken")}),
                            {headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).success(
                            function(data, status, headers, config) {
                                $window.location.reload();

                            }).error(function(data, status, headers, config) {
                                // called asynchronously if an error occurs
                                // or server returns response with an error status.
                                 alert("Error: Can't Delete server issues")
                                 $(".btn").removeClass("disabled");
                                 $(".ajax-animation").hide(0);
                                 $("body").css("opacity", "1");
                              });




                }
            };

            $scope.save = function(){

                $(".btn").addClass("disabled");
                $("select").addClass("disabled");
                $(".ajax-animation").show(0);
                $("body").css("opacity", ".5");
                var json = {
                            description:  $scope.selected.description,
                            description_2: $scope.selected.description_2,
                            keywords:$scope.selected.keywords,
                            keywords_2:$scope.selected.keywords_2,
                            layout:$scope.selected.layout,
                            is_homepage: $scope.selected.is_homepage,
                            floor_plan: $scope.selected.floor_plan,
                            floor_plan_2: $scope.selected.floor_plan_2,
                            site_plan: $scope.selected.site_plan,
                            site_plan_2: $scope.selected.site_plan_2,
                            file_name: $scope.selected.file_name,
                            file_name_2: $scope.selected.file_name_2

                };
                if(!($scope.selected.delete===null||$scope.selected.delete===undefined)){
                    json.delete = $scope.selected.delete;
                }
                if(!($scope.selected.create===null||$scope.selected.create===undefined)){
                    json.create = $scope.selected.create;
                }

                var selected_index = $scope.selected_index;
                // Simple POST request example (passing data) :
                $http.post('/admin/image/save/'+ $scope.selected.pk +'/', $.param({data:JSON.stringify(json), csrfmiddlewaretoken: jQuery.cookie("csrftoken")}),
                        {headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).
                      success(function(data, status, headers, config) {

                            $(".btn").removeClass("disabled");
                            $("select").removeClass("disabled");
                            $(".ajax-animation").hide(0);
                            $("body").css("opacity", "1");
                            delete $scope.images[selected_index].delete;

                            if(!($scope.images[selected_index].create===null||$scope.images[selected_index].create===undefined)){
                                $scope.images[selected_index].create.is_double = false;
                                $scope.images[selected_index].create.pk = data.new_image_pk;
                                $scope.images[selected_index].create.thumbnail = data.new_image_thumbnail;
                                $scope.images[selected_index].create.layout =  $scope.images[selected_index].layout;
                                $scope.images.splice(selected_index+1, 0, $scope.images[selected_index].create);

                            }
                            delete $scope.images[selected_index].create;

                      }).
                      error(function(data, status, headers, config) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                         alert("Error: Can't save server issues")
                         $(".btn").removeClass("disabled");
                         $(".ajax-animation").hide(0);
                         $("body").css("opacity", "1");
                      });


            };
            $scope.select_homepage = function(index){
                if(index==undefined || index==null){
                    index = $scope.selected_index;
                 }

                $scope.homepage_index = null;
                if(!($scope.homepage==undefined || $scope.homepage==null)) {
                    $scope.homepage.is_homepage = false;
                }
                $scope.homepage = null;

                if($scope.homepage_index != index){
                    $scope.homepage_index = index;
                    $scope.homepage = $scope.images[index];
                    $scope.homepage.is_homepage = true;

                }

            };
            $scope.select  = function(index){
                 if($scope.images[index]==undefined ||  $scope.images[index]==null){
                    return;
                 }
                 $scope.selected_index = index;
                 $scope.selected = $scope.images[index];
                 $scope.sub_selected_index = 0;

            };

            {% for image in site_plan_image %}
                $scope.site_plans[{{ forloop.counter }}] = "{{ image.file_name }}";
            {% endfor %}

            {% for image in floor_plan_images %}
                $scope.floor_plans[{{ forloop.counter }}] = "{{ image.file_name }}";
            {% endfor %}


            {% for image in images %}
                $scope.images.push({
                                            description:"{{ image.description | default:'' | safe_description }}",
                                            keywords:"{{ image.keywords | get_keys}}",
                                            is_homepage: {% if image.is_homepage %}true{% else %} false{% endif %},
                                            layout: {{ image.layout }} ,
                                            file_name: "{{ image.file_name }}" ,
                                            image: "{{ image.image }}",
                                            {% thumbnail image.image "100x100" crop="center" as im %}
                                            thumbnail: "{{ im.url }}",
                                            {% endthumbnail %}
                                            floor_plan: "{{ image.floor_plan | default:'' }}",
                                            site_plan: "{{ image.site_plan | default:'' }}",

                                            {% if image.is_double %}
                                                  image_2: "{{ image.image_2 }}",
                                                  is_double: true,
                                                  description_2: "{{ image.description_2 | default:'' | safe_description }}",
                                                  keywords_2: "{{ image.keywords_2 | get_keys }}",
                                                  file_name_2: "{{ image.file_name_2 }}",
                                                  floor_plan_2: "{{ image.floor_plan_2 | default:'' }}",
                                                  site_plan_2: "{{ image.site_plan_2 | default:'' }}",
                                                {% else %}
                                                    is_double: false,
                                            {% endif %}
                                            edit_url:"/admin/main/adminimages/{{ image.pk }}/",
                                            delete_url:"/admin/main/adminimages/{{ image.pk }}/delete/",
                                            pk: {{ image.pk }}
                });
               {% if image.is_homepage %}
                   $scope.select_homepage({{forloop.counter0}});
               {% endif %}

           {% endfor %}
           $scope.select(0);

        });
    </script>

</body>
</html>
