{% load thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular.min.js"></script>
       <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie-1.4.1.min.js" type="text/javascript"></script>


    <style>
        .selected{
            background-color: royalblue;
        }
    </style>

    <script>
        var app = angular.module('SaveImagesApp',[]);

        app.controller("MainController", function($scope, $http, $window){
            $scope.normal_images = [];
            $scope.home_page_images = [];
            $scope.site_plan_images = [];
            $scope.floor_plan_images = [];
            $scope.selected_images = [];
            $scope.double_images = [];

            $scope.remove_home_page = function(index){
                $scope.normal_images.push($scope.home_page_images[index]);
                $scope.home_page_images.splice(index, 1);

            };

            $scope.remove_site_plan = function(index){
                $scope.normal_images.push($scope.site_plan_images[index]);
                $scope.site_plan_images.splice(index, 1);

            };

            $scope.remove_floor_plan = function(index){
                $scope.normal_images.push($scope.floor_plan_images[index]);
                $scope.floor_plan_images.splice(index, 1);

            };

            $scope.remove_double_images = function(index){
                var temp =  $scope.double_images[index];
                $scope.normal_images.push(temp.image1)
                $scope.normal_images.push(temp.image2)

                $scope.double_images.splice(index, 1);

            };

            $scope.remove_normal = function(index){
                $scope.normal_images.splice(index, 1);

            };

            $scope.make_home_page = function(){
                var temp_array = [];
                 var temp_array_2 = [];
                var normal_index = 0;
                if($scope.selected_images.length>1){
                    return alert("You can only select one image as homepage image");
                }
                 $scope.selected_images.forEach(function(index){
                        temp_array.push($scope.normal_images[index]);

                });
                //delete pushed items
                $scope.normal_images.forEach(function(item){
                        if($scope.selected_images.indexOf(normal_index)<0){
                            temp_array_2.push(item);
                        }
                        normal_index+=1;
                });


                $scope.home_page_images.forEach(function(item){
                        temp_array_2.push(item);
                });
                $scope.home_page_images = temp_array;
                $scope.normal_images = temp_array_2;
                $scope.selected_images = [];

            };

            $scope.make_floor_plan = function(){
                var temp_array = [];
                var temp_array_2 = [];
                var normal_index = 0;

                $scope.selected_images.forEach(function(index){
                        temp_array.push($scope.normal_images[index]);

                });

                //delete pushed items
                $scope.normal_images.forEach(function(item){
                        if($scope.selected_images.indexOf(normal_index)<0){
                            temp_array_2.push(item);
                        }
                        normal_index+=1;
                });

                $scope.floor_plan_images = $scope.floor_plan_images.concat(temp_array);
                $scope.selected_images = [];
                $scope.normal_images = temp_array_2;

            };

            $scope.make_site_plan = function(){
                var temp_array = [];
                var temp_array_2 = [];
                var normal_index = 0;

                $scope.selected_images.forEach(function(index){
                        temp_array.push($scope.normal_images[index]);

                });

                //delete pushed items
                $scope.normal_images.forEach(function(item){
                        if($scope.selected_images.indexOf(normal_index)<0){
                            temp_array_2.push(item);
                        }
                        normal_index+=1;
                });

                $scope.site_plan_images = $scope.site_plan_images.concat(temp_array);
                $scope.selected_images = [];
                $scope.normal_images = temp_array_2;

            };


            $scope.is_selected = function(index){
                if ($scope.selected_images.indexOf(index)>=0){
                    return "selected";
                }
                return "";
            };

            $scope.make_double_layout = function(){
                var temp = {image1:null, image2:null};
                var temp_array_2 = [];
                var normal_index = 0;

                 if($scope.selected_images.length!=2){
                    return alert("Select 2 images for the double layout");
                }
                temp.image1  = $scope.normal_images[$scope.selected_images[0]]
                temp.image2  = $scope.normal_images[$scope.selected_images[1]]


                //delete pushed items
                $scope.normal_images.forEach(function(item){
                        if($scope.selected_images.indexOf(normal_index)<0){
                            temp_array_2.push(item);
                        }
                        normal_index+=1;
                });

                $scope.double_images.push(temp);
                $scope.selected_images = [];
                $scope.normal_images = temp_array_2;

            };


            $scope.is_selected = function(index){
                if ($scope.selected_images.indexOf(index)>=0){
                    return "selected";
                }
                return "";
            };

            $scope.select = function(index){
                var index_of_index = $scope.selected_images.indexOf(index);
                if (index_of_index>=0){
                    $scope.selected_images.splice(index_of_index, 1);

                }
                else{
                     $scope.selected_images.push(index);
                }

            };

            $scope.deselect_all = function(){
                $scope.selected_images = [];

            };
            $scope.are_there = function(array){
                return array.length>0;

            };
            $scope.save = function(){
                var json = {normal_images: $scope.normal_images,
                    home_page_images:$scope.home_page_images,
                    site_plan_images: $scope.site_plan_images,
                    floor_plan_images: $scope.floor_plan_images,
                    double_images: $scope.double_images
                };

                // Simple POST request example (passing data) :
                $http.post('', $.param({data:JSON.stringify(json), csrfmiddlewaretoken: jQuery.cookie("csrftoken")}),
                        {headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).
                      success(function(data, status, headers, config) {
                        // this callback will be called asynchronously
                        // when the response is available
                         $window.opener.location.reload(false);
                         $window.close();
                      }).
                      error(function(data, status, headers, config) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                        alert("Error: Can't save server issue")
                      });


            }

            {% for image in image_list %}
                 {% thumbnail image.upl "242x200" crop="center" as im %}
                     {% if image.type == 1 %}
                        $scope.normal_images.push({
                                            thumb:'{{ im.url }}',
                                            thumb_width:'{{ im.width }}',
                                            thumb_height: '{{ im.height }}',
                                            project:'{{ project_id }}',
                                            src:'{{ image.upl }}',
                                            file_name: '{{ image.file_name}}'});
                     {% elif image.type == 3 %}
                          $scope.floor_plan_images.push({
                                            thumb:'{{ im.url }}',
                                            thumb_width:'{{ im.width }}',
                                            thumb_height: '{{ im.height }}',
                                            project:'{{ project_id }}',
                                            src:'{{ image.upl }}',
                                            file_name: '{{ image.file_name}}'});

                     {% elif image.type == 4%}
                           $scope.site_plan_images.push({
                                            thumb:'{{ im.url }}',
                                            thumb_width:'{{ im.width }}',
                                            thumb_height: '{{ im.height }}',
                                            project:'{{ project_id }}',
                                            src:'{{ image.upl }}',
                                            file_name: '{{ image.file_name}}'});
                     {% endif %}
                  {% endthumbnail %}

            {% endfor %}

        });

    </script>
  </head>
  <body>


    <div id='content' ng-app='SaveImagesApp' ng-controller='MainController'>

        {% verbatim %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Save multiple images</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav">
                  <li><a href="javascript:;" ng-click="make_home_page()" class="">Make homepage</a></li>
                  <li><a href="javascript:;" ng-click="make_double_layout()" class="">Make Double Layout</a></li>

               </ul>

                 <p class="nav navbar-nav navbar-right">
                      <a  ng-click="save()" href="javascript:;" class="btn btn-success navbar-btn">Save</a>

                     </p>


            </div><!-- /.navbar-collapse -->



          </div><!-- /.container-fluid -->
        </nav>
        <div class="img-container container" style="margin-top: 80px; margin-left: 40px;">



            <article ng-if="are_there(home_page_images)">
                 <h3>Homepage Images</h3>

                <div class="row">

                  <div  ng-repeat="item in home_page_images" class="col-xs-6 col-md-3">
                    <a href="javascript:;" class="thumbnail">
                      <img src="{{ item.thumb }}" alt="{{ item.thumb_width }}x{{ item.thumb_height }}" data-holder-rendered="true" style="height: {{ item.thumb_height }}px; width: {{ item.thumb_width }}px; display: block;">
                     <a ng-click="remove_home_page($index)" href="javascript:;" class="btn btn-info">remove</a>
                    </a>
                  </div>

                </div>


            </article>

            <article ng-if="are_there(site_plan_images)">
                 <h3>Site plan Images</h3>

                <div class="row">

                  <div  ng-repeat="item in site_plan_images" class="col-xs-6 col-md-3">
                    <a href="javascript:;" class="thumbnail">
                      <img src="{{ item.thumb }}" alt="{{ item.thumb_width }}x{{ item.thumb_height }}" data-holder-rendered="true" style="height: {{ item.thumb_height }}px; width: {{ item.thumb_width }}px; display: block;">
                     <a ng-click="remove_site_plan($index)" href="javascript:;" class="btn btn-info">remove</a>
                    </a>
                  </div>

                </div>

            </article>

            <article ng-if="are_there(floor_plan_images)">
                 <h3>Floor plan Images</h3>

                <div class="row">

                  <div  ng-repeat="item in floor_plan_images" class="col-xs-6 col-md-3">
                    <a href="javascript:;" class="thumbnail">
                      <img src="{{ item.thumb }}" alt="{{ item.thumb_width }}x{{ item.thumb_height }}" data-holder-rendered="true" style="height: {{ item.thumb_height }}px; width: {{ item.thumb_width }}px; display: block;">
                     <a ng-click="remove_floor_plan($index)" href="javascript:;" class="btn btn-info">remove</a>
                    </a>
                  </div>

                </div>

            </article>

            <article ng-if="are_there(double_images)">
                <h3>Double layout Images</h3>

                <div class="row">
                    <div  ng-repeat="double in double_images" class="col-xs-6 col-md-3">

                      <div id="carousel-{{ $index }}" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ double.image1.thumb }}" alt="{{ double.image1.thumb_width }}x{{ double.image1.thumb_height }}" data-holder-rendered="true" style="height: {{ double.image1.thumb_height }}px; width: {{ double.image1.thumb_width }}px; display: block;">


                            </div>
                               <div class="item">
                                    <img src="{{ double.image2.thumb }}" alt="{{ double.image2.thumb_width }}x{{ double.image2.thumb_height }}" data-holder-rendered="true" style="height: {{ double.image2.thumb_height }}px; width: {{ double.image2.thumb_width }}px; display: block;">
                                   </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#carousel-{{ $index }}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-{{ $index }}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                        <a ng-click="remove_double_images($index)" href="javascript:;" style="margin-top: 10px" class="btn btn-info">remove</a>


                </div>
                </div>

            </article>


            <article ng-if="are_there(normal_images)">
                <h3>Normal Images <a href="" class="btn btn-default" ng-click="deselect_all()" >Deselect all</a></h3>

                <div class="row">

                  <div  ng-repeat="item in normal_images" style="margin-bottom: 5px;" class="col-xs-6 col-md-3">
                    <a ng-click="select($index)" ng-class="is_selected($index)"  href="javascript:;" class="thumbnail">
                      <img src="{{ item.thumb }}" alt="{{ item.thumb_width }}x{{ item.thumb_height }}" data-holder-rendered="true" style="height: {{ item.thumb_height }}px; width: {{ item.thumb_width }}px; display: block;">


                    </a>
                      <a ng-click="remove_normal($index)" href="javascript:;" class="btn btn-danger">delete</a>
                  </div>

                </div>

            </article>

        </div>

        {% endverbatim %}
    </div>
  </body>
</html>
