<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload.css">
    <style>
        .panel{
            margin: auto;
            width: 800px;
            height: 300px;
            margin-top: 40px;
        }
    </style>
</head>
<body>

<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Multiple files upload</h3>
      </div>
      <div class="panel-body">
        <input data-buttonText="Find files"  data-input="false" class="filestyle" id="fileupload" type="file" name="upl" multiple>
        <div class="progress" style="margin-top: 10px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
            </div>
          <a href="/admin/image/multisave/{{ project_id }}/?hash={{ hash }}" class="btn btn-primary disabled" style="margin-top: 10px">Continue</a>
      </div>
    </div>




<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-filestyle.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie-1.4.1.min.js" type="text/javascript"></script>

<script>
/*jslint unparam: true */
/*global window, $ */

$(function () {
    'use strict';
    $('#fileupload').fileupload({
        url: '?hash={{ hash }}',
        dataType: 'json',
        formData:[{name:"csrfmiddlewaretoken", value:jQuery.cookie("csrftoken")}],
        done: function (e, data) {
          $(".disabled").removeClass("disabled");
        },
        fail:function(e,data){
            alert("Invalid Image");
        },
        progress: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
</body>
</html>